<h1><%= @card.name %></h1>

<%= image_tag "Yugi_images/" + @card.photo, height: 500, alt: @card.photo %>
<p><%= @card.ability %></p>
<p><%= @card.ele %></p>
<p><%= @card.power %></p>
<p><%= @card.rarity.name %></p>


